*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pixel';
    src: url(../fonts/Pixel\ Georgia\ Bold.ttf);
}
@font-face {
    font-family: 'pixelFino';
    src: url(../fonts/Pixel\ Georgia.ttf);
}

.h1{
    color: white;
}
body{
    position: relative;
}
/*COMEÇO DA PAGINA INDEX*/
.container-father {
    position: relative;
    background-color: black;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    overflow: hidden;
}

/* textura do fundo */
.container-father::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.02) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.02) 1px,
            transparent 1px
        );

    background-size: 25px 25px;

    pointer-events: none;

    z-index: 0;
}

.container-father::after {
    content: "";

    position: absolute;

    width: 350px;
    height: 350px;

    background: #7000FF;

    opacity: 0.05;

    filter: blur(100px);

    border-radius: 50%;

    pointer-events: none;

    animation: brilho 5s ease-in-out infinite;

    z-index: 1;
}


.container{
    position: relative;
    z-index: 2;
    background-color: black;
    width: 300px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgkillua{
    width: 200px;
    border-radius: 100%;
    margin-bottom: 50px;

        transition: 0.3s ease;
}

.imgkillua:hover {
    animation: glitch 0.3s steps(2);
    box-shadow: 5px 0 #7000FF, -5px 0 white;
}


.container p{
    margin-bottom: 50px;
    font-family: 'pixel', 'Courier New', Courier, monospace;
    color: white;
}

#frase::after {
    content: "|";
    animation: piscar 1s infinite;
}


.senha{
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    border: 0px;
    transition: .5s ease;
}
.senha::placeholder{
    color: #00000052;
    font-family: 'pixel';
    font-size: 0.8em;
}

.senha:focus, .senha:hover{
    outline: none;
    border-color: #7e0dff;
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(126, 13, 255, 0.3);
}
#enviar{
    background-color: #000000;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.1s steps(2);
}
#enviar:hover{
    border-radius: 3px;
    outline: none;
    border-color: #7e0dff;
    box-shadow: 0 0 0 5px rgba(126, 13, 255, 0.3);
    transform: translateY(-2px);

    filter:
        drop-shadow(0 0 5px #7000FF);
}
#enviar:active {
    transform: translateY(3px) scale(0.9);
}

@keyframes cimaBaixo{
    from{
        bottom: 0px;
        
        
    }
    to{
        bottom: 20px;
        
    }
}

.btnArquivo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 10px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    animation: cimaBaixo 4s infinite;
}
.btnArquivo:hover {
    background-color: #7000FF;
    bottom: 25px;
    animation: none;

    box-shadow:
        0 0 10px #7000FF,
        0 0 25px rgba(112, 0, 255, 0.4);
}

.esconder {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);

    width: 250px;
    height: 350px;

    position: fixed;
    bottom: 120px;
    right: 30px;

    pointer-events: none;

    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        visibility 0.2s;
}

.arquivoAberto {
    visibility: visible;
    opacity: 1;
    transform: scale(1);

    width: 250px;
    height: 350px;

    position: fixed;
    bottom: 120px;
    right: 30px;

    background-color: white;
    border-radius: 3px;

    pointer-events: auto;

    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        visibility 0.2s;
}

.arquivoAberto > .headerBox{
    background-color: #7e0dff;
    color: #fff;
    font-family: 'pixel', 'Courier New', Courier, monospace;
    padding: 10px;
}
.mainBox{
    font-family: 'pixel', 'Courier New', Courier, monospace;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainBox > p{
    padding: 0;
    margin-top: 40px;
    color: black;
}
.mainBox > button{
    padding: 5px;
    font-family: 'pixel', 'Courier New', Courier, monospace;
    
}
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    background-color: #7000FF;
    border-radius: 3px;
    color: white;
}
.btnPular{
    padding: 5px;
    font-family: 'pixel', 'Courier New', Courier, monospace;
    background-color: #7000FF;
    border-radius: 3px;
    color: white;
}

.btn:focus, .btn:hover{
    border-radius: 3px;
    outline: none;
    border-color: #7e0dff;
    box-shadow: 0 0 0 5px rgba(126, 13, 255, 0.3);
    cursor: pointer;
}
.articleBox{
    background-color: #7000FF;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
span{
    color: #7000FF;
    background-color: white;
}
.articleBox > p{
    padding: 10px;
    color: white;
    font-family: 'pixel', 'Courier New', Courier, monospace;
    text-align: center;
}
/*FIM DA PAGINA INDEX*/
/*---------------------------------------*/


@keyframes piscar {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

@keyframes brilho {
    0%, 100% {
        transform: scale(1);
        opacity: 0.03;
    }

    50% {
        transform: scale(1.3);
        opacity: 0.07;
    }
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-4px, 2px);
    }

    50% {
        transform: translate(4px, -2px);
    }

    75% {
        transform: translate(-2px, -1px);
    }

    100% {
        transform: translate(0);
    }
}